@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

:root {
  --primary-yellow: #F7BF4F;
  --primary-orange: #f7794f;
  --primary-orange-hover: #fc561e;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

/******************************** NAVBAR ********************************/

.logo {
  width: 4rem;
}

nav {
  z-index: 1;
}

nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary-yellow) !important;
  border-bottom: 0.2rem solid rgb(33, 37, 41);
}

.navbar-nav>li>a:hover {
  border-bottom: 0.2rem solid var(--primary-yellow);
}

.navbar-toggler {
  width: 35px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0 !important;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-yellow);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;

}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

#resume-link {
  margin-left: 3rem;
  margin-right: 3rem;
  color: var(--primary-yellow) !important;
}

@media(max-width: 768px) {
  .navbar-nav>li>a {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  #resume-link {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

/******************************** HEADER ********************************/

.header-wrapper {
  position: relative;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.main-info h1 {
  color: var(--primary-yellow) !important;
  text-transform: uppercase;
  font-size: 4rem;
}

.main-info h2 {
  color: var(--primary-yellow) !important;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.main-info h3 {
  color: var(--primary-yellow) !important;
  font-size: 1.5rem;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2.5rem;
  }

  .main-info h2 {
    font-size: 2rem;
  }

  .main-info h3 {
    font-size: 1.5rem;
  }
}

/*************** TYPED TEXT **************/
.typed-text {
  font-size: 3rem;
  color: white;
}

@media(max-width: 768px) {
  .typed-text {
    font-size: 2rem;
  }
}

/*************** HEADER MAIN BUTTON  **************/

.btn-main {
  border: solid 2px var(--primary-orange-hover);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  margin: 2rem;
  text-decoration: none;
  color: white;
}

.btn-main:hover {
  text-decoration: none;
  background-color: var(--primary-orange-hover);
  color: white;
  transition: .2s ease-in-out;
}

/*************** PARTICLES  **************/


/******************************** ABOUT ME  ********************************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  position: relative;
  width: 18rem;
  padding: 0.3rem;
  z-index: 1;
}

.about-heading {
  color: var(--primary-yellow);
  text-transform: uppercase;
}

.about-paragraph {
  padding-top: 3rem;
  font-size: 16pt;
}

.about-paragraph span {
  color: var(--primary-orange);
}

.photo-container {
  position: relative;
}

#dots {
  position: absolute;
  top: -35px;
  left: -35px;
  z-index: 0;
}

#rectangle {
  position: absolute;
  z-index: 0;
  right: -20px;
  bottom: -20px;
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/******************************** SKILLS  ********************************/

.skills {
  background-image: url(./images/skills-bg.jpg);
  background-size: cover;
  background-color: #000000;
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.skills h1 {
  color: var(--primary-yellow);
  padding: 3rem 0;
  text-transform: uppercase;
}

.skills-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black);
}

.myCarousel {
  color: white;
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-left: 5%;
  padding-right: 5%;
}

.carousel .slide img {
  width: 15rem !important;
}

.myCarousel h3 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-root {
  margin: auto !important;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-slider {
  padding-bottom: 2rem;
}

/******************************** CONTACT  ********************************/

.contact {
  background-color: #000000;
  padding: 3rem 0;
}

.contact h1 {
  color: var(--primary-yellow);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contact p {
  color: white;
  font-size: 1.2rem;
}

/******************************** INPUTS  ********************************/

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid white;
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contact .contact {
  padding: 4rem 0;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  color: var(--primary-orange) !important;
  border-bottom: 0.125rem solid white;
}

.contact textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.829rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line,
textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;

}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: red;
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: greenyellow;
}

@media(max-width: 768px) {
  .contact {
    overflow-x: hidden;
  }

  .contact .contact {
    padding: 0 1rem;
  }

  .contact p {
    padding: 0 0.5rem;
  }
}

/******************************** FOOTER  ********************************/

.footer {
  background: rgb(33, 37, 41);
  color: var(--primary-yellow);
  padding: 2rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-yellow);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}

@media(max-width: 768px) {
  .footer-text {
    justify-content: center;
  }

  .footer-col {
    margin-bottom: 1rem;
  }
}