@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

:root {
  --primary-yellow: #F7BF4F;
  --primary-orange: #f7794f;
  --primary-orange-hover: #fc561e;
}

body {
  font-family: 'Quicksand', sans-serif;
}

/******************************** NAVBAR ********************************/

.logo
{
  width: 4rem;
}

nav{
  z-index: 1;
}

nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary-yellow) !important;
  border-bottom: 0.2rem solid rgb(33,37,41);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.2rem solid var(--primary-yellow);
}

/******************************** HEADER ********************************/

.header-wrapper{
  position: relative;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.main-info h1{
  color: var(--primary-yellow) !important;
  text-transform: uppercase;
  font-size: 4rem;
}
.main-info h2{
  color: var(--primary-yellow) !important;
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 3rem;
  }
  .main-info h2{
    font-size: 2rem;
  }
}

/*************** TYPED TEXT **************/
.typed-text{
  font-size: 3rem;
  color: white;
}

@media(max-width: 768px){
  .typed-text{
    font-size: 2rem;
  }
}

/*************** HEADER MAIN OFFER BUTTON  **************/

.btn-main-about{
  border: solid 2px var(--primary-orange-hover);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  margin: 2rem;
  text-decoration: none;
  color: white;
}

.btn-main-about:hover{
  text-decoration: none;
  background-color: var(--primary-orange-hover);
  color: white;
  transition: .2s ease-in-out ;
}

/*************** PARTICLES  **************/
